{% extends 'base.html' %}

{% block script %}
<script>
    function preventBack() { window.history.forward(); }  
    setTimeout("preventBack()", 0);  
    window.onunload = function () { null }; 
</script>
{% endblock %}

{% block main_text %}

{% if error %}
<div style="color: red; margin-bottom: 20px;">{{ error }}</div>

{% endif %}
<p class="t_title">

    Now Alex, you're standing before the safe box, poised to unlock its secrets. 
    Before you is the safe box, with the only slot on it. Putting the key in would 
    lead to potential success or immediate failure. The stakes couldn't be higher: 
    a one-in-three chance you will open the safe, against a two-thirds probability 
    of setting off the alarm. What would you do?
<br>
<br>
<img src="{{ url_for('static', filename='img/box.jpg') }}" alt="Example Image"  style="width: 100%;" >

</p>
<div class="container">
<form method="POST">
<!-- <form id="slotChoiceForm"> -->
    <input type="radio" id="roundSlot" name="slotChoice" value="A">
    <label for="roundSlot">Try my luck anyway</label><br>
        <br>
    </div>    
    <input type="submit" value="Continue" class="continue-btn">
</form>
<br>

{% endblock %}
