{% extends 'base.html' %}

{% block script %}
<script>
    function fn1(){
        window.location="livingroom";
    }
</script>
 {% endblock %}


{% block main_text %}

<p class="t_title">


You've been closely observing the targeted residence for quite some time,
building a comprehensive profile of the homeowner and pinpointing the location
of the treasure within a secure safe. This particular safe can only be opened 
with a unique key. 
<br><br>

<b>However, some critical pieces of information remain elusive, reducing 
the likelihood of accessing the safe even if you are able to find the key. </b>
Despite being fully aware of these slim odds, you embark on this daring 
adventure with a sharp awareness of the limited chances for success.


Nevertheless, fueled by optimism and unwavering resolve, you are compelled 
to venture forth and test your fate.


<br><br>

You kept this information at heart, and now you're about to start your journey...
</p>
<div class="container">
<img src="{{ url_for('static', filename='img/box.jpg') }}" alt="Example Image" style="width: 40%;">
</div>
<br>
<br>
{% endblock %}

{% block continue %}
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}