{% extends 'base.html' %}

{% block script %}
<script>
    function fn1(){
        window.location="livingroom";
    }
</script>
 {% endblock %}


{% block main_text %}

<p class="t_title">


You've been closely observing the targeted residence for some time now. 
Prior to making your move, you've gathered crucial intelligence regarding 
the homeowner and their safe, where the treasure is located. 
<br><br>

The owner holds a uniquely secure safe, which can only be accessed with a 
specific key. Intriguingly, the safe is designed to activate merely one-third 
of the time; attempts made during the remaining two-thirds risk triggering an 
alarm. Despite thorough investigations aimed at uncovering strategies to 
improve your chances, the path to greater certainty remains shrouded in mystery. 
<b>Consequently, the likelihood of unlocking the safe and accessing its valued 
contents is limited to a slender 33%.</b> Aware of these odds as you initiate this 
adventure, you confront the challenge with a keen sense of the one-in-three 
opportunity to recover the coveted treasure. Nevertheless, fueled by optimism 
and unwavering resolve, you are compelled to venture forth and test your fate.

<br><br>


    You kept this information at heart, and now you're about to start your journey...
</p>
<br>
{% endblock %}

{% block continue %}
<button onclick="fn1()" id="btn1" class = "continue-btn">Continue</button>
{% endblock %}